<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Potafolio </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700" rel="stylesheet"> 
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="css/estilos.css"> -->
	<link rel="stylesheet" href="css/syles.css"> 
</head>
<body>
	<header>
	<!-- Contenedor header -->
		<div class="contenedor">
			<nav class="menu">
				<a href="#">Acerca de </a>
				<a href="#">Trabajo</a>
				<a href="#">Contacto</a>
			</nav>
			<div class="contenedor-texto">
				<div class="texto">
					<h1 class="nombre">Daniel Martinez</h1>
					<h2 class="profesion">Desarrollo web</h2>
				</div>
			</div>
		</div>		
	</header>
	
	<!-- Seccion principal -->
	<section class="main">
		<section class="acerca-de">
		<!-- Acerca de -->
			<div class="contenedor">	
				<div class="foto">
					<img src="img/foto.jpg" width="115" height="115" alt="Daniel Martinez">
				</div>
				<div class="texto">
					<h3 class="titulo">Acerca de</h3>
					<p>Soy Egresado del instituto Tecnologico de celaya, tengo 24 años.
					Vivo en la ciudad de celaya Gto. Mi correo electronico es <span class="bold">headcruser@gmail.com</span> 
					Tengo experiencia en diversos lenguajes de programación como java, python , php , javascript. Me dedico a la parte del backend.
					</p>
				</div>
			</div>
		</section>
		
		<!-- Trabajos -->
		<section class="trabajos">

			<div class="contenedor">
				<h3 class="titulo">Trabajos</h3>
				<div class="contenedor-trabajos">
					<div class="trabajo">
						<div class="thumb">
							<img src="img/1.jpg" width="300" height="200" alt="Trabajos en linea">
						</div>
						<div class="descripcion">
							<p class="nombre">Maquetación</p>
							<p class="categoria">Diseño</p>
						</div>
					</div>

					<div class="trabajo">
						<div class="thumb">
							<img src="img/2.jpg" width="300" height="200" alt="Trabajos en linea">
						</div>
						<div class="descripcion">
							<p class="nombre">Documentacion</p>
							<p class="categoria">Ingenieria de sofware</p>
						</div>
					</div>

						<div class="trabajo">
						<div class="thumb">
							<img src="img/3.jpg" width="300" height="200" alt="Trabajos en linea">
						</div>
						<div class="descripcion">
							<p class="nombre">Java</p>
							<p class="categoria">Programacion</p>
						</div>
					</div>

					<div class="trabajo">
						<div class="thumb">
							<img src="img/4.jpg" width="300" height="200" alt="Trabajos en linea">
						</div>
						<div class="descripcion">
							<p class="nombre">Python</p>
							<p class="categoria">Programacion</p>
						</div>
					</div>

					<div class="trabajo">
						<div class="thumb">
							<img src="img/5.jpg" width="300" height="200" alt="Trabajos en linea">
						</div>
						<div class="descripcion">
							<p class="nombre">Ruby</p>
							<p class="categoria">Programacion</p>
						</div>
					</div>

					<div class="trabajo">
						<div class="thumb">
							<img src="img/6.jpg" width="300" height="200" alt="Trabajos en linea">
						</div>
						<div class="descripcion">
							<p class="nombre">Laravel</p>
							<p class="categoria">Programacion</p>
						</div>
					</div>

						<div class="trabajo">
						<div class="thumb">
							<img src="img/7.jpg" width="300" height="200" alt="Diseño web">
						</div>
						<div class="descripcion">
							<p class="nombre">Node Js</p>
							<p class="categoria">Programacion</p>
						</div>
					</div>

					<div class="trabajo">
						<div class="thumb">
							<img src="img/8.jpg" width="300" height="200" alt="Redes">
						</div>
						<div class="descripcion">
							<p class="nombre">AngularJS</p>
							<p class="categoria">Programacion</p>
						</div>
					</div>

				</div>
			</div>
		</section>
	</section> 

	<footer>
		<section class="contacto">
			<div class="contenedor">
					<h3 class="titulo">Contacto</h3>
					<form action="" class="formulario">
						<input type="text" placeholder="Nombre" name="nombre" required>
						<input type="email" placeholder="Correo" name="correo" required>
						<textarea name="mensaje"  placeholder="Mensaje"></textarea>
						<input class="boton" type="submit" value="Enviar">
					</form>
			</div>
		</section>
		<section class="redes-sociales">
			<div class="contenedor">
				<a href="#" class="twitter"> <i class="fa fa-twitter"></i></a>
				<a href="#" class="facebook"> <i class="fa fa-facebook"></i></a>
				<a href="#" class="youtube"> <i class="fa fa-youtube-play"></i></a>
				<a href="#" class="git"> <i class="fa fa-github"></i></a>
				<a href="#" class="inst"> <i class="fa fa-instagram"></i></a>
			</div>
		</section>		
	</footer>

</body>
</html>